<!DOCTYPE html>
<head>
  <title>상담 봇</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='on.jpeg') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <form action="/" method="post">
  
<div class="on-bot">
  <img src="{{ url_for('static', filename='on.jpeg') }}" width="200"/>
  <h3>온성현 상담가</h3>
    <input type="text" name="on-question" placeholder="성현님께 질문을 해주세요."  />
  {% if on_result %}
  <div class="on_prompt">고객님: {{ on_prompt }}</div>
  <div class="on_result">온성현님: {{ on_result }}</div>
  {% endif %}
</div>
<hr>
<input type="submit" value="질문 보내기" />
</form>

</body>


